* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --padding-nav: 15px;
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'cairo', sans-serif;
}


.main-title
{
  border: 2px solid rgb(0, 0, 0);
  position: relative;
  width: fit-content;
  padding: 10px;
  font-weight: bolder;
  margin: 10px auto;
  font-size: 22px;
  z-index: 0;
  transition: 0.1s border-color,0.1s color;
  transition-delay: 0.4s;
  cursor: pointer;
}


.points-image1
  ,
 .points-image2
  {
    width: 100px;
    height: 100px;
    background-image: url('../img/dots.png');
    position: absolute;
    z-index: 1;
  }
 .points-image1
  {
    right: 0;
    top: 30%;
  }
 .points-image2
  {
      left: 0;  
      bottom: 30%;
  }




.main-title::after , .main-title::before 
{

  content: "";
  width: 12px;
  height: 12px;
  background-color:var(--main-color);
  border-radius: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::after 
{
  right:-30px;
}
.main-title::before 
{  
  left:-30px;
}

.main-title:hover
{
  color: white;
  border-color:white;
}

.main-title:hover::before
{
z-index: -1;
animation: left-move 0.5s linear forwards;
}


.main-title:hover::after
{
z-index: -1;
animation: right-move 0.5s linear forwards;
}

@keyframes right-move 
{
  50%
  {
    width: 12px;
    height: 12px;
    right: -30px;
  }
  100%
  {
    width: 100%;
    height: 100%;
    right: 0;
    border-radius: 0;
  }
}


@keyframes left-move 
{
  50%
  {
    width: 12px;
    height: 12px;
    left: -30px;
  }
  100%
  {
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 0;
  }
}

.container {
  width: 80%;
  margin: auto;
}

@media screen and (max-width:991px) 
{
  .container
  {
    width:100%;
    padding: 10px;
  }
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

nav {
  background-color: white;
  box-shadow: 1px 1px 10px #ddd;
  position: relative;

}


nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  /* to size of mega menu */
}

nav .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bolder;
  height: 72px;
  display: flex;
  align-items: center;
}

nav .main-nav {
  display: flex;
}

nav .main-nav>li>a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  transition: 0.5s background-color, 0.5s color;
  overflow: hidden;
}

nav .main-nav>li>a::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  left: -100%;
  transition: 0.6s left;
}

nav .main-nav>li>a:hover {
  background-color: rgba(170, 160, 160, 0.215);
  color: var(--main-color);
}

nav .main-nav>li>a:hover::before {
  left: 0;
}

@media(max-width: 767px) {
  nav .logo {
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  nav .main-nav>li>a {
    padding: 0 12px;
    font-size: 14px;
  }

}






nav .mega-menu {

  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  border-bottom: 3px solid var(--main-color);
  z-index: -100;
  opacity: 0;
  display: flex;
  gap: 40px;
  top: calc(100% + 80px);
  transition: 0.1s opacity, 0.5s top;
  background-color: white;
  justify-content: space-around;
  
}

nav .main-nav > li:hover .mega-menu
{
  opacity: 1;
  z-index: 1;
  top: 100%;

}



nav .mega-menu .image img {
  max-width: 400px;
}

@media (max-width:991px) {
  nav .mega-menu .image img {
    display: none;
  }
}

nav .mega-menu ul {
  min-width: 250px;
  flex: 1;
}

nav .mega-menu ul li 
{
  position: relative;
  font-size: 1.3rem;
  padding: 20px;
  font-weight: bold;
}
nav .mega-menu ul li:not(:last-child)
{
border-bottom: 1px solid #e9e9fd ;
}

@media (max-width:767px)
{
  nav .mega-menu 
  {
    flex-direction: column;
    gap: 0;
    padding: 5px;

  }
  nav .mega-menu ul:first-of-type li:last-child
  {
    border-bottom: 1px solid #e9e9fd ;
  }

}
nav .mega-menu ul li::before
{
  content:"";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: rgba(185, 172, 172, 0.153);
  border-radius: 12px;
  transition: 0.4s width;
}


nav .mega-menu ul li:hover::before
{
   width:100%;
}

nav .mega-menu ul li a 
{
  color: var(--main-color);
  display: block;
}

/* @media () */

/* start of navbar */
header {
  position: relative;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(107, 107, 107, 0.179);
  transform: skewY(-6deg);
  transform-origin: top left;
}

header .container {
  display: flex;
  padding-bottom: 100px;
  align-items: center;
  min-height: calc(100vh - 80px);
}

header .image img {
  width: 400px;
  max-width: 100%;
}

.arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;
  display: flex;
  justify-content: center;
}


.landing .go-down i {
  color: rgba(0, 142, 219, 0.972);
  margin: auto;
  font-weight: bolder;
  font-size: 1.4rem;
  animation: bouncing 1.5s infinite;
}

@keyframes bouncing {

  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0px);
  }

  30%,
  40%,
  60%,
  70% {
    transform: translateY(-20px);

  }
}



.landing .text {
  flex: 1;
}

.landing .text h1 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 0;
}

.landing .text p {
  font-size: 24px;
  color: rgb(52, 52, 52);
  line-height: 1.7;
  margin: 0;
  max-width: 500px;
}


@media (max-width:991px) {
  .landing .image {
    display: none;
  }

  .landing .text {
    text-align: center;
  }

  .landing .text p {
    margin: 10px auto;
  }
}


.landing .image img {
  width: 600px;
  animation: up-and-down 5s linear infinite;
  position: relative;

}

@keyframes up-and-down {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}
/* end of header */


/* start articles */

.articles
{
  padding: var(--main-padding-top) 0;
background-color: #ffffff;
  position: relative;
}

.articles .container
{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(250px,1fr));
  gap: 40px ;

}

.articles .container .box
{
  box-shadow: 0px 2px 15px rgba(62, 61, 64, 0.36);
  background: white;
  border-radius: 6px;
  overflow: hidden;
  transition: 0.3s transform,0.3s box-shadow ;

 }

 .articles .container .box:hover
 {
  transform: translateY(-5%);
  box-shadow: 0px 2px 15px rgba(51, 51, 52, 0.726);

  }


 .articles .container .box img
{
  width: 100%;
  max-width: 100%;
}




.articles .container .box .content p
{
  color: #8b8b8b    ;
  line-height: 1.7;
  margin: 20px 0;

}

.articles .container .box .content ,.articles .container .box .info
{
  padding: 15px;
}

.articles .container .box .info
{

  border-top: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
}
.articles .container .box .info a
{  
  letter-spacing: 2px;
  text-transform:capitalize;
}


.articles .container .box .info a,
.articles .container .box .info i
{
  color: #1787e0;
  font-weight: bolder;
}

.articles .container .box:hover .info i
{
  animation: 0.5s move-left linear infinite ;
}

@keyframes move-left 
{
 50%
 {
  transform: translateX(0);
 } 
 100%
 {
  transform: translateX(calc(100% - 10px));
 } 
}

/* end articles */

/* start gallery */

.gallery
{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.gallery .container
{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
  gap: 40px;
}

.gallery .container .box
{
overflow: hidden;
padding: 20px;
background-color: rgb(255, 255, 255);
}
.gallery .container .box .image
{
  position: relative;
  overflow: hidden;
}

.gallery .container .box .image img
{
  width: 100%;
  transition: 0.5s transform;

}
.gallery .container .box .image::before
{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(255, 255, 255, 0.365);
  width: 10px;
  height: 10px;
  opacity: 0;
  z-index: 3;
  transform: rotate(45deg) scale(5);
}
.gallery .container .box .image:hover::before
{
  animation: flashing 0.7s;
}
.gallery .container .box .image:hover img
{
  transform: rotate(5deg) scale(1.3);
}

@keyframes flashing
{
  0% ,40%{opacity: 1;}
  100%{
opacity: 0;
width: 100%;
height: 100%;
}
}



/* end  gallery */

/* Start  Features */
#features 
{
  padding-top:var(--main-padding-top);
  padding-bottom:var(--main-padding-bottom);
  position: relative;
  background-color: white;
}
#features .container
{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
  gap: 40px;

}
#features .container .box 
{
  text-align: center;
  border: 1px solid rgba(119, 119, 119, 0.296);
}

#features .container .box h2
{
  padding: 15px 0;
  font-size: 2.1rem;
  width: fit-content;
  margin: auto;
  position: relative;
}

#features .container .box h2::before
{
  content: "";  
  position: absolute;
  bottom: 0;
  left: 10px;
  width: calc(100% - 20px);
  background-color: rebeccapurple; 
  /*  */
  height: 5px;
}
















#features .container .box .Desc-Box
{
  margin: 35px;
}
#features .container .box .Desc-Box p
{
  padding: 40px 0;
  color: #777;
  font-size: 1.1rem;
  line-height: 2;
}
#features .container .box .Desc-Box a
{
  font-size:1.2rem ;
  font-weight: 700;
  color: #777; 
  padding: 10px 30px;
  border: 3px solid ;
  border-radius: 8px;
  letter-spacing: 2.5px;
  overflow: hidden;
  z-index: 3;
  position: relative;

}




#features .container .box:nth-child(1) a
{
  color:rgb(250, 0, 0) ;
  border-color: rgba(250, 0, 0, 0.602);
}
#features .container .box:nth-child(2) a
{
  color:#009687;
  border-color: #0096876c;
}

#features .container .box:nth-child(3) a
{
  color:rgb(3, 168, 244);
  border-color: rgb(3 169 244 / 60%);
}

#features .container .box .Desc-Box a::before
{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0;
  height: 100%;
  z-index: -2;
  transition: 0.2s width;
}
  #features .container .box:hover .Desc-Box a:before
  {
    width: 100%;
  }



#features .container .box .image-holder
{
  position: relative;
  overflow: hidden;
}

#features .container .box .image-holder::before
{
  content: "";
  position: absolute;
  top:0px;
  left: 0;
  width: 100%;
  height: 100%;
}
#features .container .box:hover .Desc-Box a
{
  color: white;
}





#features .container .box:nth-child(1) .image-holder::before ,#features .container .box:nth-child(1) h2::before,#features .container .box:nth-child(1) .Desc-Box a::before
{
  background-color: rgba(250, 0, 0, 0.602);
}

#features .container .box:nth-child(2) .image-holder::before,#features .container .box:nth-child(2) h2::before,#features .container .box:nth-child(2) .Desc-Box a::before
{
  background-color: #0096876c;
}

#features .container .box:nth-child(3) .image-holder::before,#features .container .box:nth-child(3) h2::before,#features .container .box:nth-child(3) .Desc-Box a::before
{
  background-color: rgb(3 169 244 / 60%);
}








#features .container .box .image-holder::after
{
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  border-style: solid;
  border-color: transparent transparent #ffffff #32322a00;
  border-width: 0 0 170px 900px;
  transition: 1s border-width ;
}

#features .container .box:hover .image-holder::after
{
  border-color: transparent transparent #ffffff #32322a00;
  border-width: 0 500px 167px 0;
}


#features .container .box .image-holder img
{
  width: 100%;
}
/* end  Features */

/* start testiMonials */
.testimonials
{
  padding: 43px 0;
  background-color: var(--section-background);
}

.testimonials .container 
{

  padding: 40px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
  gap: 60px;
}

.testimonials .container .box
{

  padding: 20px;
  background-color: white;
  box-shadow: 0px 7px 4px #cecece;
  position: relative;
  border-radius: 6px;

}

.testimonials .container .box h3
{
  padding: 20px 0;
}

  .testimonials .container .box .Title
    {
      color: #7777;
    }

    .testimonials .container .box .rate
    {
      padding: 10px 0;
    }

    .testimonials .container .box p
    {
      color: rgba(73, 73, 73, 0.75);
      padding:  5px 0 10px 0;
      line-height: 1.5;
    }

  .testimonials .container .box img 
  {
    position: absolute;
    border-radius: 50%;
    top: -15%;
    right: -10px;
    width: 100px;
    background-color: var(--section-background);;
    border: 3px solid var(--section-background);;
    padding: 10px;
    height: 100px;
  }

  .testimonials .container .box .success
  {
    color: #ffc107;
  } 

/* end of testimonials */


.team
{
  background-color: white;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.team .container
{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
  gap: 40px;
}
.team .container .box
{
  position: relative;
  z-index: 1;

}
.team .container .box::after,
.team .container .box::before
{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 16px;
  transition: 1s width;
}
.team .container .box::after
{
  width: 0;
  background-color: #e4e4e4;
  z-index: -1;
}
.team .container .box:hover::after
{

  width: calc(100% - 40px );
}


.team .container .box::before
{
  width: calc(100% - 40px );
  background: #f3f3f3;
  z-index: -2;
}


 .team .container .box .data
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.team .container .box .data img
{
  width: calc(100% - 50px);
  transition: 1s filter;
  border-radius: 16px;
} 
.team .container .box:hover .data img
{
  filter: grayscale(100%);
}
.team .container .box .social
{
  margin: 23px;
}
.team .container .box .social a
{
  display: block;
}
.team .container .box .social i
{
  margin: 20px 0;
  color: #777;
}
.team .container .box .social i:hover
{
  color:#1787e0;
}

.team .container .box .info
{
  padding: 10px;
  width: calc(100% - 40px );
  margin-left: auto;
}
.team .container .box .info h3
{

  margin: 10px;
  color:var(--main-color)
}

.team .container .box:hover .info h3
{
  color: #7777;
}
.team .container .box .info p 
{ 
  color: #777;
}
/* end  team  */

/* start services */

#services
{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
#services .container
{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 60px;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);

}
#services .container .box
{
  background-color: rgb(255, 255, 255);
  position: relative;

  counter-increment: services;
  transition: var(--main-transition) transform;

}
#services .container .box:hover
{
  transform: translateY(-10px);
}

#services .container .box::before
{
  position: absolute;
  content: "";
  top: -2px;
  left: 50%;
  width: 0;
  height: 3px;
  transform: translateX(-50%);
  background-color: var(--main-color);
  transition: 1s width;
}
#services .container .box:hover::before
{
  width: 100%;
}


#services .container .box .data-box-services
{
  text-align: center;
  padding: 20px 0;
  background: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%)
}

#services .container .box .data-box-services i 
{
  color: #bcbbc2af;
  padding: 20px ;
  font-size: 2.6rem;
}
#services .container .box .data-box-services h3
{
  color: var(--main-color);
}
#services .container .box .info
{
  position: relative;
  padding: 15px;
  background-color: #f9f9f9;
  text-align: right ;
  overflow: hidden;
}
#services .container .box .info a
{
  color: var(--main-color);
  font-weight: 600;
}
 
#services .container .box .info::before
{
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  left: 0;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  width: 80px;

}
#services .container .box .info::after
{
  content: "";
  position: absolute;
  bottom: 0;
  left: 64px;
  width: 30px;
  height: 100%;
  transform: skewX(-30deg);
  background-color: rgb(228, 228, 228);
  z-index: 2;
}

/* end of services  */

/* start skills */
.skills
{
  padding-top: var(--main-padding-top);
  background-color: white;
  padding-bottom:var(--main-padding-bottom) ;
}
.skills .container
{
  padding-top: var(--main-padding-top);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:1000px)
{
  .skills .container
  {
    flex-direction: column;
    justify-content: center;
    align-items: center ;
  }
  .skills .container .image-skills
    {
      width: 100% !important;
    }
    .skills .container .skills-rate
    {
      width: 100% !important;

    }
}
.skills .container .image-skills
{
  width: 50%;
}

.skills .container .image-skills img  
{
  width: 100%;
}
.skills .container .skills-rate
  {
    margin-bottom: 10px;
    width: 50%;
  }
.skills .container .rate-text
{
  color: #1787e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  margin-bottom: 10px;
  border-radius: 10px;

}
.skills .container .rate-text p 
{
  font-weight: 500;
}
.skills .container .rate-text .number-rate
{
  padding: 2px;
  background-color: white;
  border: 1px solid rgba(119, 119, 119, 0.622);
}
.skills .container .skills-rate  .box
{
  margin: 25px 0;
}
.skills .container .skills-rate .rateing
{
  width: 100%;
  height: 30px;
  background-color: #eee ;
  position: relative;
  border-radius: 10px;
}
.skills .container .skills-rate .rateing::before
{
  border-radius: 10px;
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  height: 100%;
  background-color: var(--main-color);
}
.skills .container .skills-rate .box:nth-child(1) .rateing::before,
.skills .container .skills-rate .box:nth-child(4) .rateing::before
{
  width: 80%;
}

.skills .container .skills-rate .box:nth-child(2) .rateing::before
{
  width: 85%;
}
.skills .container .skills-rate .box:nth-child(3) .rateing::before

{
  width:70%;
}
















 /* start of works  */

.step-works
{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);

}

#step-works .container
{
  display: flex;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  align-items: center;
  justify-content: center;
}
@media screen and (max-width:991px)
{
  .step-works .container
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .image-works
  {
    width: 100% !important;
  }

  .step-works .container .stepsWorks
  {
    width: 100% !important;
  }

  .step-works .container .steps-doing
  {
    flex-direction: column;
    padding: 10px !important;
  }

  .step-works .container .steps-doing img
  {
    width: 40% !important;
    margin: 20px 0;
  }




}
.step-works .container .image-works

{
  width: 50%;
}

.step-works .container .image-works img
{
  width: 70%;
}

.stepsWorks
{
  width: 50%;
}


.step-works .container .steps-doing
{
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f6f5f5;
  border: 2px white solid;
  padding: 30px;
  border-radius: 10px;
  margin: 20px 0; 
  overflow: hidden;
}

.step-works .container .steps-doing::after
{
  content: "";
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  width: 0px;
  height: 0px;
  transition: 0.5s width,0.5s height;
  background-color: #83808054;
  transform: scale(2),rotate(450deg);
  opacity: 0;

}


.step-works .container .steps-doing:hover::after
{
  opacity:1 ;
    width: 100%;
  height: 100%;

}


.step-works .container .steps-doing img
{
  width: 30px;
  margin-right: 20px;
}
.step-works .container .text-works
{
  padding: 0 10px;
  line-height: 1.7;
  max-width:80% ;
}

.step-works .container .text-works h3
{
  margin-bottom: 15px ;
}
 /* end of works  */

 /* start of listner */
  .event
  {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
  }
  .event .container
  {
    z-index: 2;
    position: relative;
  }

  .event .container .container-dflex
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .event .container .img-latest
  {
    width: 50%;
    text-align: center;
  }
  .event .container .img-latest img
  {
    width: 100%;
  }

  .counter
  {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }

  .box-counter
  {
    border: 1px solid #d4d4d4;
    text-align: center;
    transition:1s border-color;
    border-radius: 3px;
    margin:0 10px ;
    width: calc(( 100% / 4 ) - 20px);
  }



  .box-counter:hover
  {
    border-color: var(--main-color);
  }
  .box-counter h3
  {
    color: var(--main-color);
    padding: 10px;
  }
  .box-counter p
  {
    padding: 8px 10px;
    border-top:1px solid #d4d4d4 ;
  }
  .box-counter:hover p 
  {
    border-top-color:var(--main-color);
  }
  .counter-latest .text-under-counter 
  {
    padding: 20px 0;
    text-align: center;
  }

  .counter-latest .text-under-counter h4
  {
    
    font-size: 1.9rem;
    padding: 10px 0;
  }
  .counter-latest .text-under-counter p
  {
    color: #777;
    line-height: 2.2;
    word-spacing: 1.2px;
    margin: auto;
    width: 80%;
  }
  .subscribe
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;
    background: #b4b0b076;
    border-radius: 65px;
    padding: 20px;
  }
 .subscribe input
  {
    padding: 16px;
    border: none;
    width: 80%;
    text-align: center;
    border-radius: 20px;
  }
.subscribe input::placeholder
{
  word-spacing: 1.3px;
  letter-spacing: 1.1;
}
.subscribe input:focus-visible
{
  outline: none;
}
.subscribe button
{
  padding: 12px 10px;
  background-color: var(--main-color);
  border-radius: 17px;
  border: none;

  margin-left: 10px;
}
.subscribe button a
{
  color: white;
}


@media screen and (max-width:991px) 
{
  .event .container .container-dflex
  {
    flex-direction: column;
  }
  .event .container .img-latest 
  {
    width: 100% !important;
  }
  .event .container .img-latest img
  {
    width: 80% !important;
  }
  .counter
  {
    width: 100%;
  }
  .counter .box-counter
  {
    width: calc((100% / 2) - 20px);
    margin: 10px 10px;
  }

   .subscribe 
   {
    width: 95%;
   }
}


@media only screen and (max-width: 600px) 
{
  .counter 
  {
    flex-direction: column;
  }
  .counter .box-counter
  {
  width: 30%;
  }
}
  
 /* end of listner */

 /* start of price */
  .price
  {
    padding-top: var(--main-padding-top);
    background-color: var(--section-background);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
  }
  .price .container
  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    padding-top: 40px ;
  }

  .price .container .box 
  {
    margin: 40px 0;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    width: calc(100% / 3 - 15px);
    z-index: 1;

  }

  .price .container .box:nth-child(2)
  {
    transform: translateY(-35px);
  }

  .price .container .box::after
  {
    top: 0;
    left: 0;
  }
  .price .container .box::before
  {

    bottom: 0;
    right: 0;

  }
  .price .container .box::before ,  .price .container .box::after
  {
    content: "" ;
    position: absolute;
    height: 50%;
    width: 0%;
    background-color: rgba(62, 60, 60, 0.092);
    transition: 1.5s width;
    z-index: -2;
  }

  .price .container .box:hover::before,  .price .container .box:hover::after
  {
    width: 100%;
  }

  .price .container .box .recomended
  {
    position: absolute;
    writing-mode: vertical-lr;
    padding: 35px 0px;
    background-color: #1787e0;
    left: 5%;
    text-align: center;
    width: 30px;
    display: flex;
    align-items: center;

  }
  .price .container .box .recomended::after
  {
    content:"";
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 5;
    border: calc(30px - 15px) solid;
    border-color: transparent transparent white transparent;

  }

  .price .container .box .recomended p
  {
    color: white !important;
    font-weight: bolder;
    letter-spacing: 1.9px;
  }

  @media only screen and (max-width: 767px) 
  {
    .price .container
    {
      justify-content: center;
      gap: 30px;
    }
    .price .container .box
    {
      width: 80%;
    }
  }

  @media only screen and (min-width: 768px) 
  {
    .price .container
    {
      justify-content: center;
      gap: 30px;
    }
  .price .container .box
  {
    width:calc( 50% - 40px);
  }
  .price .container .box:nth-child(2)
  {
    transform: translateY(0px);
  }
  }

  @media only screen and (min-width: 1200px)

        {
          .price .container .box 
          {
            width: calc(100% / 3 - 35px);
          }
        
          .price .container .box:nth-child(2)
          {
            transform: translateY(-35px);
          }

        }




  .price .container .box h3
  {
    font-weight: 900;
    margin: 20px 0;
  }
  .price .container .box img ,  .price .container .box h2 
  {
    padding: 10px 0;
  }
  .price .container .box img
  {
    margin:12px  0;
    width: 40%;
  }

  .price .container .box h2
  {
    color: #1787e0;
    font-size: 3.1rem;
    font-weight: 700;
  }

  .price .container .box p
  {
    color: #777;
  }
  .price .container .box ul
  {
    text-align: start;
    padding: 20px 0;
    position: relative;
  }
  .price .container .box ul li
  {
    padding:10px;
    border-top:1px solid rgba(161, 161, 161, 0.295) ;
    color: rgba(43, 41, 41, 0.817);
  }
  .price .container .box ul li i
  {
    padding:20px 7px;
    font-weight: 900;
    font-size: 1.2rem;
    color: #1787e0;
  }
  .btn-price-buy
  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px ;
  }
  .btn-price-buy button
  {
    padding: 15px;
    background-color: transparent;
    border: 1px solid #1787e0;
    color: #1787e0;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.8s background-color , 0.1s border-color , 0.1s color;
  }
  .btn-price-buy button:hover
  {
    background-color: #1787e0;
    border: white;
    color: white;
  }
 /* end of price */
 /* start of top video */
.video
{
  padding:40px 0
}

.video .container
{
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width:991px)
{
  .video .container
  {
    flex-direction: column;
    
  }
}
.video .container .links-choose
{
  width: 30%;
  border: 1px solid rgba(119, 119, 119, 0.235);;
}

@media screen and (max-width:991px)
{
  .video .container .links-choose
  {
    width: 100%;
    text-align: center;
  }
}


.top-video
{
  display: flex;
  justify-content: space-between;
  padding:20px;
  background-color: #f4f4f4;
}
.link-time
{
  padding:20px 10px;
  border-top: 1px solid rgb(119 119 119 / 17%);;
  cursor:pointer
}
.link-time p 
{
  color: #777;
  padding-top:10px ;
}
.link-time:hover h5
{
  color: #1787e0;
}
.video-show
{
  background-color: #989a9b5f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:0  8px 10px ;
}
.video-show img 
{

  width: 100%;
}
.video-show .text-video
{
  background-color: white;
  padding: 20px;
}

 /* end of video */

/* start of rate  */
.rate-section
{

  text-align: center;
  background-color: white;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.rate-section::after
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/stats.jpg");
  opacity: 0.08;

}
.rate-section  h3 
{
 font-size: 2.2rem;
 padding:30px 0;
}
.rate-section .container
{
  display:flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;

}


.rate-section .container .box
{
  padding: 5px;
  width: calc(100% /4) ;
  height: 100%;
  text-align: center;
}




@media only screen and (max-width: 600px) 
{
  .rate-section .container .box
  {
    width: calc(100% /1) ;
  }
}


@media only screen and (min-width: 600px) 
{
  .rate-section .container .box
  {
    width: calc(100% /2) ;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  .rate-section .container
  {
    justify-content: center;
  } 
   .rate-section .container .box
  {
    width: calc(100% /3) ;
  }}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {  
  .rate-section .container .box
  {
    width: calc(100% /4) ;
  }}





.rate-section .container .box div
{
  background-color: white;
  height: 100%;
  position: relative;
  padding: 10px 0;
}

.rate-section .container .box div::after,.rate-section .container .box div::before
{
  position: absolute;
  content: "";
  width: 2px;
  height: 0px;
  background-color: var(--main-color);  
  transition: 0.8s height ;
}
.rate-section .container .box div::after
{
  top: 0;
  right: 0;
}


.rate-section .container .box div::before
{
  bottom: 0;
  left: 0;
}

.rate-section .container .box div:hover::before , .rate-section .container .box div:hover::after
{
  height: 100%;
}

.rate-section .container .box div i 
{
  padding: 15px 0 10px 0  ;
  font-size: 22px;
}
.rate-section .container .box div h4 
{
  padding: 5px 0 0  0 ;
  font-size:2.1rem;
}

.rate-section .container .box div p
{
  color: #1787e0;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
}
/*  end of rate  */




/* start of Request   */
.Request
{
  display: flex;
  flex-wrap: wrap;
}


.Request .desc-disount
{
  width: 50%;
  position: relative;
  text-align: center;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: backgroundImag 10s linear infinite;
  color: white;
  background-size: cover;
  background-position: 100% 100%; 
  z-index:1;
}

@keyframes  backgroundImag 
{
0%
{
  background-image: url("../img/discount-background2.jpg");
}
50%
{
  background-image: url("../img/discount-background1.jpg");
}
}
@media only screen and (max-width: 991px) 
{
  .Request  .desc-disount
  {
    width:100%;
  }
}

.Request  .desc-disount::after
{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
   z-index: -2;
   background-color: var(--main-color);
  opacity: 0.95;
}
.Request .desc-disount .desc
{
  width: 70%;
}


.Request .desc-disount .desc h3
{ 
  font-size: 1.9rem;
  padding: 30px 0;
}
.Request .desc-disount .desc p
{
  line-height: 1.5;
  max-width: 80%;
  text-align: center;
  margin: auto;
}
.Request .desc-disount .desc img
{
   width: 300px;
   max-width: 100%;
}

.form-register-discount
{
  width: 50%;
  text-align: center;
}

@media only screen and (max-width: 991px) 
{
  .form-register-discount
  {
    width:100%;
    padding: 10px 0;
  }


}

.form-register-discount h4
{
  padding:30px 0;
  width: 40%;
  margin: auto;
  font-size: 1.6rem;
}
@media only screen and (max-width: 991px) 
{
  .form-register-discount h4
  {
    font-size: 1.1rem;
  }
}
.form-register-discount .form-input
{
  width: 40%;
  margin: auto;
}
.form-register-discount .form-input input ,.form-register-discount .form-input textarea
{ 
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
}
.form-register-discount .form-input input::placeholder
{
  color: #777;
}
.form-register-discount .form-input button
{
  border: none;
  width: 100%;
  padding: 10px;
  color: white;
  font-weight: 900;
  font-size: 1.2rem;
  background-color: #1787e0;
  cursor: pointer;
}
.form-register-discount .form-input button:hover
{
  background-color:#1787e0;
}

 /* end of Request   */

 /* start of footer  */
.links-site
{
  padding-top: var(--main-padding-top);
  background-color: #191919;

}

.links-site .container
{
  display: flex;
  flex-wrap: wrap;
}

.links-site .container .name-icones 
{
  color: white;
}

.links-site .container .name-icones h3
{
  margin: 10px 0;
    font-size: 3rem;
}
.links-site .container .icones
{
  margin: 10px 0;
  display: flex;
}
.links-site .container .icones div
{
  width: calc((100% / 3 ) - 40px );
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313131;
  color: #b9b9b9;
  padding: 20px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
  transition: var(--main-transition) background-color;
}

.links-site .container .icones div:nth-child(1):hover
{
  background-color:#1787e0 ;
}
.links-site .container .icones div:nth-child(2):hover
{
  background-color: var(--main-color);
}

.links-site .container .icones div:nth-child(3):hover
{
  background-color: rgba(192, 2, 2, 0.878);
}
.links-site .container .name-icones .icones  i
{
  font-size: 1.2rem;
}

.links-site .container .name-icones p
{
  line-height: 2;
  color: rgb(158, 155, 155);
}

.links-site .container  .important-links
{
  padding: 0 10px;
}

.links-site .container  .important-links ul li
{
  padding: 15px 0;
  cursor: pointer;
  transition: 0.5s  padding-left;
}
.links-site .container  .important-links ul li a
{
  color: #b9b9b9;
}
.links-site .container  .important-links ul li:hover
{
  padding-left: 15px;
}

.links-site .container .important-links ul li:not(.links-site .container .important-links ul li:nth-child(1))
{
  border-top:1px solid rgba(107, 106, 106, 0.576) ;
}


.links-site .container  .important-links ul li i 
{
  color: #1787e0;
  margin-right: 10px;
}

.links-site .container  .location
{
  padding: 0 20px;
}
.links-site .container  .location .icone-desc-betweem
{
  display:flex;
  margin: 15px 0;
  line-height: 2.1;
}
.links-site .container  .location .icone-desc-betweem i 
{
  color: #1787e0;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 1.5rem;
}
.links-site .container  .location .icone-desc-betweem p 
{
  color: #b9b9b9;
}


  .links-site .container  .image-footer  .gallery-footer
  {
    display: flex;
    flex-wrap: wrap;
  }
  .links-site .container  .image-footer  .gallery-footer div
    {
      width: calc((100% / 3) - 10px);
      padding:5px;
      margin:5px;
      background-color: white;
    }
  .links-site .container .image-footer div img
  {
    width: 100%;

  }
  .name-developer 
  {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: white;
    border-top: 0.1px solid rgba(255, 255, 255, 0.215);
    width: 100%;
    margin-top: 30px ;
    word-spacing: 1.2px;
    letter-spacing: 1.01px;
  }








  @media only screen and (max-width:600px) 
  {
    .links-site .container 
    {
      justify-content: center;
      text-align: center;
    }
    .links-site .container .box
    {
      width: calc(100% / 1) !important;
      margin: 20px 0;
    }

    .links-site .container .icones 
    {
      justify-content: center;
    }
  }

    
  @media only screen and (min-width: 601px) 
  {
    .links-site .container .box
    {
      width: calc(100% / 2);
      margin: 20px 0;

    }
    .links-site .container .name-icones
    {
      text-align: center;
    }
    .links-site .container .name-icones .icones
    {
      justify-content: center;
    }
  }


  @media only screen and (min-width: 992px) 
  {
    .links-site .container 
    {
      justify-content: center;
    }
    .links-site .container .box
    {
      width: calc(100% / 3);
    }

  }




  @media only screen and (min-width: 1200px) 
  {
    .links-site .container .box
    {
      width: calc(100% / 4);
      margin: 20px 0;
    }
    .links-site .container .name-icones
    {
      text-align: center;
      justify-content: center;
    }
  }



  



 /* end of footer  */